.content {
  max-width: 500px;
  margin: auto;
}

.panel_background {
   background-color: rgb(200, 206, 209);
   background: linear-gradient(to top, #f7f7f7, #e0e0e0);
   border-radius: 15px;
   border-style: solid;
   border-color: black;
   border-width: 5px;
}

.center_text {
  text-align: center;
}

.outline { 
   padding: 10px 20px 20px 20px;
}


#best_teams {
  display: table;
  margin: 0 auto;
}
body {
  background-image: url(grass.png);
  background-color: #ddf5ff;
}